# Assignment - 4 Web_Scraping

‚Ä¢ Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of
your choice.  
‚Ä¢ You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get
information about selenium Exceptions.   
  You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.  
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos  
You need to find following details:  
A) Rank  
B) Name  
C) Artist  
D) Upload date  
E) Views

In [1]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# importing necessary libraries

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")

# Getting the webpage of url 

url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [4]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []


# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [5]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [6]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.45
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.98
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.48
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.82
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.66
5,6.,"""Bath Song""[20]",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",5.64
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.92
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.71
8,9.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.67
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.56
10,11.,"""Masha and the Bear ‚Äì Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",4.44
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.08
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.76
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.66
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.66
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.59
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.54
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.50
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.39
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.35
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.35
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.31
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.28
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.27
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.27
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.26
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.21
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.18

In [7]:
driver.close()

Q2. Scrape the details team India‚Äôs international fixtures from bcci.tv.  
Url = https://www.bcci.tv/.  
You need to find following details:  
A) Match title (I.e. 1st ODI)  
B) Series  
C) Place  
D) Date  
E) Time  
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [14]:
driver=webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [20]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [21]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [22]:
print(len(Name),len(Series),len(Place),len(Date),len(Time))

6 6 6 6 6

In [23]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time

In [24]:
Fixtures

,Title,Name,Place,Date,Time
0,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM
1,ICC MENS T20 WORLD CUP 2022,1st T20I,"Melbourne Cricket Ground,",23 OCT 2022,1:30 PM
2,ICC MENS T20 WORLD CUP 2022,2nd T20I,"Sydney Cricket Ground,",27 OCT 2022,12:30 PM
3,ICC MENS T20 WORLD CUP 2022,3rd T20I,"WACA Ground,",30 OCT 2022,4:30 PM
4,ICC MENS T20 WORLD CUP 2022,4th T20I,"Adelaide Oval,",2 NOV 2022,1:30 PM
5,ICC MENS T20 WORLD CUP 2022,5th T20I,"Melbourne Cricket Ground,",6 NOV 2022,1:30 PM

In [25]:
driver.close()

Q3. Scrape the details of selenium exception from guru99.com.  
Url = https://www.guru99.com/  
You need to find following details:  
A) Name  
B) Description  
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [26]:
driver=webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")

# get webpage
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [28]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [29]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  
#if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [30]:
name=[]
desc=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]/strong"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]"):
    desc.append(i.text)

In [31]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name
Selenium_Exception['Description']=desc
Selenium_Exception

,Exception name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...

In [32]:
driver.close()

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.  
Url = http://statisticstimes.com/  
You have to find following details:  
A) Rank  
B) State  
C) GSDP(18-19)  
D) GSDP(17-18)  
E) Share(2017)  
F) GDP($ billion)  
Note: - From statisticstimes home page you have to reach to economy page through code

In [33]:
driver=webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")
driver.maximize_window()
driver.get('https://www.statisticstimes.com')
time.sleep(3)

In [34]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [35]:
#Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [38]:
#Clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click

In [40]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [43]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    # Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [44]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP_19-20']=GSDP1
INDIA['GSDP_18-19']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE GSDP_19-20 GSDP_18-19   SHARE GDPbillion
0     1                Maharashtra          -  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%    240.726
3     4                    Gujarat          -  1,502,899   7.96%    228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%    226.806
..  ...                        ...        ...        ...     ...        ...
61   29                     Sikkim     28,391     25,141   0.15%     17,060
62   30                   Nagaland          -     24,534   0.15%          -
63   31          Arunachal Pradesh          -     22,488   0.13%          -
64   32                    Mizoram     24,424     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -          -       -          -

[66 rows x 6 columns]

In [58]:
INDIA.to_csv(r"E:\Flip Robo\Data\GDP.csv", index = False, header = True)

In [61]:
driver.close()

Q5. Scrape the details of trending repositories on Github.com.  
Url = https://github.com/  
You have to find the following details:  
A) Repository title  
B) Repository description  
C) Contributors count  
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [62]:
driver=webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")
url=('https://github.com/')
driver.get(url)

In [63]:
# Click on explore

explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [64]:
# Click on Trending

trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [65]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [66]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [67]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [68]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [69]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,109,"[Python, JavaScript, CSS, Other]"
1,AykutSarac / jsoncrack.com,üîÆ Seamlessly visualize your JSON data instantl...,16,"[TypeScript, Other]"
2,type-challenges / type-challenges,Collection of TypeScript type challenges with ...,170,"[TypeScript, HTML, Other]"
3,inancgumus / learngo,"‚ù§Ô∏è 1000+ Hand-Crafted Go Examples, Exercises, ...",27,"[Go, Other]"
4,apache / skywalking,"APM, Application Performance Monitoring System",413,"[Java, Shell, FreeMarker, ANTLR, Python, Lua, ..."
5,TencentARC / GFPGAN,GFPGAN aims at developing Practical Algorithms...,11,[Python]
6,iptv-org / iptv,Collection of publicly available IPTV channels...,192,"[JavaScript, Shell]"
7,dail8859 / NotepadNext,"A cross-platform, reimplementation of Notepad++",13,"[C++, HTML, C, Lua, NSIS, Objective-C++, Other]"
8,wagtail / wagtail,A Django content management system focused on ...,578,"[Python, JavaScript, HTML, TypeScript, SCSS, S..."
9,apache / doris,"Apache Doris is an easy-to-use, high performan...",392,"[Java, C++, Groovy, C, Python, Thrift, Other]"
10,heejkoo / Awesome-Diffusion-Models,A collection of resources and papers on Diffus...,15,[]
11,skydoves / android-developer-roadmap,üó∫ The 2022 Android Developer Roadmap suggests ...,15,[Kotlin]
12,vbenjs / vue-vben-admin,"A modern vue admin. It is based on Vue3, vite ...",151,"[Vue, TypeScript, Less, JavaScript, CSS, HTML]"
13,CompVis / stable-diffusion,A latent text-to-image diffusion model,7,"[Jupyter Notebook, Python, Shell]"
14,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,34,"[CSS, C, JavaScript, Makefile, Shell]"
15,PaddlePaddle / PaddleOCR,Awesome multilingual OCR toolkits based on Pad...,105,"[Python, C++, Shell, Java, CMake, Makefile, Ot..."
16,zadam / trilium,Build your personal knowledge base with Triliu...,70,"[JavaScript, CSS, EJS, Shell, Dockerfile, Batc..."
17,remoteintech / remote-jobs,A list of semi to fully remote-friendly compan...,688,"[JavaScript, HTML, CSS, Shell]"
18,CyC2018 / CS-Notes,üìö ÊäÄÊúØÈù¢ËØïÂøÖÂ§áÂü∫Á°ÄÁü•ËØÜ„ÄÅLeetcode„ÄÅËÆ°ÁÆóÊú∫Êìç‰ΩúÁ≥ªÁªü„ÄÅËÆ°ÁÆóÊú∫ÁΩëÁªú„ÄÅÁ≥ªÁªüËÆæËÆ°,231,[]
19,xuxueli / xxl-job,A distributed task scheduling framework.ÔºàÂàÜÂ∏ÉÂºè‰ªªÂä°...,58,"[Java, Dockerfile]"
20,apache / dolphinscheduler,Apache DolphinScheduler is a distributed and e...,405,"[Java, TypeScript, Python, PLpgSQL, SCSS, Shel..."
21,halo-dev / halo,‚úç ‰∏ÄÊ¨æÁé∞‰ª£ÂåñÁöÑÂºÄÊ∫êÂçöÂÆ¢ / CMS Á≥ªÁªü„ÄÇ,74,"[Java, Other]"
22,apache / echarts,"Apache ECharts is a powerful, interactive char...",177,"[TypeScript, JavaScript, Other]"
23,OpenIMSDK / Open-IM-Server,Âç≥Êó∂ÈÄöËÆØIM,27,"[Go, Shell, Other]"
24,yangzongzhuan / RuoYi-Vue3,üéâ (RuoYi)ÂÆòÊñπ‰ªìÂ∫ì Âü∫‰∫éSpringBootÔºåSpring SecurityÔºåJWT...,9,"[Vue, JavaScript, HTML, SCSS, Batchfile]"

In [70]:
driver.close()

Q6. Scrape the details of top 100 songs on billiboard.com.  
Url = https:/www.billboard.com/  
You have to find the following details:  
A) Song name  
B) Artist name  
C) Last week rank  
D) Peak rank  
E) Weeks on board  
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [84]:
driver=webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")
driver.maximize_window()
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [92]:
#Clicking on charts
charts=driver.find_elements(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')

In [96]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [98]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

0

In [83]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']"}
  (Session info: chrome=106.0.5249.103)
Stacktrace:
Backtrace:
	Ordinal0 [0x00241ED3+2236115]
	Ordinal0 [0x001D92F1+1807089]
	Ordinal0 [0x000E66FD+812797]
	Ordinal0 [0x001155DF+1005023]
	Ordinal0 [0x001157CB+1005515]
	Ordinal0 [0x00147632+1209906]
	Ordinal0 [0x00131AD4+1120980]
	Ordinal0 [0x001459E2+1202658]
	Ordinal0 [0x001318A6+1120422]
	Ordinal0 [0x0010A73D+960317]
	Ordinal0 [0x0010B71F+964383]
	GetHandleVerifier [0x004EE7E2+2743074]
	GetHandleVerifier [0x004E08D4+2685972]
	GetHandleVerifier [0x002D2BAA+532202]
	GetHandleVerifier [0x002D1990+527568]
	Ordinal0 [0x001E080C+1837068]
	Ordinal0 [0x001E4CD8+1854680]
	Ordinal0 [0x001E4DC5+1854917]
	Ordinal0 [0x001EED64+1895780]
	BaseThreadInitThunk [0x7630FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77557B5E+286]
	RtlGetAppContainerNamedObjectPath [0x77557B2E+238]
	(No symbol) [0x00000000]

In [ ]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [ ]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [ ]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

In [ ]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

In [99]:
driver.close()

Q7. Scrape the details of Data science recruiters from naukri.com.  
Url = https://www.naukri.com/  
You have to find the following details:  
A) Name  
B) Designation  
C) Company  
D) Skills they hire for  
E) Location  
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [100]:
driver=webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")

driver.maximize_window()
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [101]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [104]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()     
time.sleep(3)

In [109]:
# Creating empty list
Name = []
Designation = []
Company = []
Skills = []
Location = []

# Scraping Name
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
# Scraping Designation
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append("_")
    
# Scraping Company
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append("_")
    # Scraping Skills
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]'):
        Skills.append(i.text)
except NoSuchElementException:
    Skills.append("_")
# Scraping Location
try:
    for i in driver.find_elements(By.XPATH,'//*[@class="ellipsis fleft fs12 lh16 locWdth"]'):
        Location.append(i.text)
except NoSuchElementException:
    Location.append("_")

In [110]:
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

19 19 19 19 19

In [112]:
df=pd.DataFrame()
df['Name']=Name
df['Designation']=Designation
df['Company']=Company
df['Skills']=Skills
df['Location']=Location

df

,Name,Designation,Company,Skills,Location
0,Data Analyst - Data Science,Data Analyst - Data Science,Altigreen,Data Analyst - Data Science,Bangalore/Bengaluru
1,Sr Data Science Analyst,Sr Data Science Analyst,Transunion,Sr Data Science Analyst,Hybrid - Chennai
2,"Senior Analyst, Data Science & Analytics","Senior Analyst, Data Science & Analytics",Transunion,"Senior Analyst, Data Science & Analytics",Pune
3,Data Science Manager,Data Science Manager,Rapido,Data Science Manager,Bangalore/Bengaluru
4,Data Science Engineer,Data Science Engineer,Salesforce,Data Science Engineer,Hyderabad/Secunderabad
5,Sr. Manager Data Science,Sr. Manager Data Science,Paypal,Sr. Manager Data Science,Chennai
6,"Senior Analyst, Data Science","Senior Analyst, Data Science",Varite,"Senior Analyst, Data Science",Bangalore/Bengaluru
7,Senior Analyst-Data Science,Senior Analyst-Data Science,Accenture,Senior Analyst-Data Science,Mumbai
8,Lead - Data Science / Predictive Modelling,Lead - Data Science / Predictive Modelling,Indiainfoline,Lead - Data Science / Predictive Modelling,Bangalore/Bengaluru
9,Data Storytelling / Visualization Role - Data ...,Data Storytelling / Visualization Role - Data ...,Indiainfoline,Data Storytelling / Visualization Role - Data ...,Bangalore/Bengaluru
10,Manager Data Science,Manager Data Science,Visa,Manager Data Science,Bangalore/Bengaluru
11,Principal Engineer - Data Science,Principal Engineer - Data Science,GMT Infotech,Principal Engineer - Data Science,Bangalore/Bengaluru
12,Data Science Engineer (Synthetic Data Generation),Data Science Engineer (Synthetic Data Generation),Calsoft,Data Science Engineer (Synthetic Data Generation),"Kolkata, Indore, Pune, Bangalore/Bengaluru"
13,Sr. Manager Data Science,Sr. Manager Data Science,Xoom Inc,Sr. Manager Data Science,Chennai
14,ACN - Applied Intelligence - CC - Data Science...,ACN - Applied Intelligence - CC - Data Science...,Accenture,ACN - Applied Intelligence - CC - Data Science...,Gurgaon/Gurugram
15,Data Science Analyst (From FMCG Ind.)and Sales...,Data Science Analyst (From FMCG Ind.)and Sales...,H K Jewels,Data Science Analyst (From FMCG Ind.)and Sales...,Mumbai
16,Senior Investment Risk Specialist - Data Science,Senior Investment Risk Specialist - Data Science,Wells Fargo,Senior Investment Risk Specialist - Data Science,Bangalore/Bengaluru
17,Hiring For Data Science role (NLP) - Max 30 Da...,Hiring For Data Science role (NLP) - Max 30 Da...,Genpact,Hiring For Data Science role (NLP) - Max 30 Da...,Gurgaon/Gurugram
18,Data Science Consultant / Trainer,Data Science Consultant / Trainer,ACODS,Data Science Consultant / Trainer,Noida

In [113]:
df.to_csv(r"E:\Flip Robo\Data\Job.csv", index = False, header = True)

In [114]:
driver.close()

Q8. Scrape the details of Highest selling novels.  
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/  
You have to find the following details:  
A) Book name  
B) Author name  
C) Volumes sold  
D) Publisher  
E) Genre

In [115]:
# connect to webdriver
driver = webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")

# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [116]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [117]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [118]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [119]:
driver.close()

Q9. Scrape the details most watched tv series of all time from imdb.com.  
Url = https://www.imdb.com/list/ls095964455/  
You have to find the following details:  
A) Name  
B) Year span  
C) Genre  
D) Run time  
E) Ratings  
F) Votes

In [120]:
# connect to webdriver
driver = webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [121]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [122]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,064,283"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,157,430"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"973,585"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"290,217"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,521"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"49,732"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"60,796"
97,Criminal Minds,(2005‚Äì2020),"Crime, Drama, Mystery",42 min,8.1,"195,784"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,191"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,805"

In [123]:
driver.close()

Q10. Details of Datasets from UCI machine learning repositories.  
Url = https://archive.ics.uci.edu/  
You have to find the following details:  
A) Dataset name  
B) Data type  
C) Task  
D) Attribute type  
E) No of instances  
F) No of attribute  
G) Year  
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [124]:
# connect to webdriver
driver = webdriver.Chrome(r"E:\Flip Robo\chromedriver.exe")
# get webpage
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [125]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [126]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [127]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [128]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [129]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
        
      
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=106.0.5249.103)
Stacktrace:
Backtrace:
	Ordinal0 [0x00241ED3+2236115]
	Ordinal0 [0x001D92F1+1807089]
	Ordinal0 [0x000E66FD+812797]
	Ordinal0 [0x000CDFFA+712698]
	Ordinal0 [0x0013506B+1134699]
	Ordinal0 [0x0014514A+1200458]
	Ordinal0 [0x001318A6+1120422]
	Ordinal0 [0x0010A73D+960317]
	Ordinal0 [0x0010B71F+964383]
	GetHandleVerifier [0x004EE7E2+2743074]
	GetHandleVerifier [0x004E08D4+2685972]
	GetHandleVerifier [0x002D2BAA+532202]
	GetHandleVerifier [0x002D1990+527568]
	Ordinal0 [0x001E080C+1837068]
	Ordinal0 [0x001E4CD8+1854680]
	Ordinal0 [0x001E4DC5+1854917]
	Ordinal0 [0x001EED64+1895780]
	BaseThreadInitThunk [0x7630FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77557B5E+286]
	RtlGetAppContainerNamedObjectPath [0x77557B2E+238]
	(No symbol) [0x00000000]

In [130]:
# Creating dataframe 

ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:622]
ML['Data Type'] = Data_type[:622]
ML['Task'] = Task[:622]
ML['Attribute type'] = Attribute_type[:622]
ML['No of instance'] = No_of_instances[:622]
ML['No of attributes'] = No_of_attributes[:622]
ML['Year'] = Year[:622]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
402,Parkinson Speech Dataset with Multiple Types o...,Multivariate,"Classification, Regression","Integer, Real",1040,26,2014
403,Parkinson's Disease Classification Data Set,Multivariate,Classification,"Integer, Real",756,754,2018
404,Parkinsons Data Set,Multivariate,Classification,Real,197,23,2008
405,Parkinsons Telemonitoring Data Set,Multivariate,Regression,"Integer, Real",5875,26,2009
406,Pedal Me Bicycle Deliveries Data Set,Time-Series,Regression,Real,36,15,2021

In [ ]:
driver.close()