# WORKSHEET 2 SQL

In [1]:
# Q1 to Q13 have only one correct answer. Choose the correct option to answer your question.

1. Which of the following constraint requires that there should not be duplicate entries?
D) Unique

2. Which of the following constraint allows null values in a column?
C) Null 

3. Which of the following statements are true regarding Primary Key?
A) Each entry in the primary key uniquely identifies each entry or row in the table

4. Which of the following statements are true regarding Unique Key?
D) All of the above

5. Which of the following is/are example of referential constraint?
B) Foreign Key

In [2]:
# For Questions 6-13 refer to the below diagram and answer the questions:

6. How many foreign keys are there in the Supplier table?
C) 2

7. The type of relationship between Supplier table and Product table is:
C) one to one 

8. The type of relationship between Order table and Headquarter table is:
A) one to many B) many to one
ASSIGNMENT
C) one to one D) many to many

9. Which of the following is a foreign key in Delivery table?
B) supplier id

10. The number of foreign keys in order details is:
D) 2

11. The type of relationship between Order Detail table and Product table is:
C) one to one

12. DDL statements perform operation on which of the following database objects?
A) Rows of table 

13. Which of the following statement is used to enter rows in a table?
D) Set Row

In [3]:
# Q14 and Q15 have one or more correct answer. Choose all the correct option to answer your question.

14. Which of the following is/are entity constraints in SQL?
B) Unique
C) Primary Key

15. Which of the following statements is an example of semantic Constraint?
A) A blood group can contain one of the following values - A, B, AB and O.
D) Two or more donors can have same blood group